/* Other rules */
header {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: cornflowerblue;
  width: 100vw;
}

.navLink {
  text-decoration: none;
}

.sideBar {
  background-color: #151515;
  padding: 10px;
}
.menuIcon {
  color: cornsilk;
  font-size: 16px;
  background-color: #303030;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.menuItem {
  padding: 5px 0px 5px 0px;
  display: flex;
  align-items: center;
}

.searchBar {
  color: white;
  margin-left: 350px;
  margin-bottom: 10px;
  width: 500px;
  padding: 15px;
  background-color: #303030;
  border-bottom: #202020 solid 1px;
  border-radius: 10px;
}
.logoimg {
  margin-left: 250px;
}

/* .modal {
  position: absolute;
  z-index: 50;
  left: 250;
  top: 120;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
} */

.titleSearch {
  padding-top: 5px;
}
.resultBox {
  background-color: chocolate;
  display: flex;
  text-align: start;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
  height: 50px;
  padding: 10px;
  margin: 10px;
}

.seachResult {
  background-color: cornflowerblue;
  color: white;
  /*   margin-top: 110px;
  margin-left: 350px; */
  position: absolute;
  z-index: 100;
  text-align: center;
  border-radius: 20px;
  width: 700px;
  height: max-content;
  margin-bottom: 50px;
  left: 300px;

  padding: 20px;

  /* background-color: rgb(0, 0, 0); */
}

.miniature {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.miniature img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gg-pentagon-bottom-left {
  color: red;
  box-sizing: border-box;
  border-right: 2px solid;
  border-left: 2px solid;
  top: 12px;
  left: 46px;

  transform: rotate(45deg) scale(var(--ggs, 1));
  width: 10px;
  height: 10px;
}

.gg-pentagon-bottom-right {
  color: red;
  box-sizing: border-box;
  border-right: 2px solid;
  border-left: 2px solid;
  top: 3px;
  left: 28px;
  box-sizing: border-box;

  transform: rotate(-45deg) scale(var(--ggs, 1));
  width: 10px;
  height: 10px;
}

.gg-pentagon-top-right {
  box-sizing: border-box;
  border-top: 2px solid;
  border-bottom: 2px solid;
  color: red;
  top: 0px;
  left: 28px;
  box-sizing: border-box;

  transform: rotate(-45deg) scale(var(--ggs, 1));
  width: 10px;
  height: 10px;
}

.gg-pentagon-top-left {
  color: red;
  top: 7px;
  left: 43px;
  box-sizing: border-box;
  box-sizing: border-box;
  border-top: 2px solid;
  border-bottom: 2px solid;

  transform: rotate(45deg) scale(var(--ggs, 1));
  width: 10px;
  height: 10px;
}

.homecontent {
  width: 97vw;
  padding-right: 40px;
  display: grid;
  background-color: #151515;
  grid-template-columns: 200px 1fr;

  column-gap: 50px;
}

.mainContent {
  display: grid;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.backgroundGame {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.65;
  width: 100vw;
  z-index: -20;
  top: 0;
  left: 0;
  height: 100%;
}

.gamecontent h1 {
  text-align: center;
}

.gamecontent {
  position: relative;

  z-index: 10;
  display: grid;
  opacity: unset;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  background-color: rgb(0, 0, 0, 0.8);
}

.gamewrapper {
  width: 99vw;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.leftside {
  background-color: turquoise;
}

.rightside {
  background-color: tomato;
}

.wrapper {
  width: 99vw;
  background-color: #151515;
  display: grid;
  grid-template-columns: 250px 1fr;
  column-gap: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.padding {
  padding-right: 15px;
  margin-bottom: 20px;
}

.ordering {
  padding-top: 15px;
  padding-bottom: 15px;
}

.select {
  width: 15%;
  padding: 10px;
  border-radius: 10px;
  background-color: #303030;
  color: white;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  column-gap: 30px;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 72px;
  line-height: 78px;
  font-weight: bold;
  color: #ffffff;
  display: block;

  margin-block-start: 0.6em;
}
.paddingBottom {
  margin-bottom: 10px;
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  line-height: 34px;

  font-weight: bold;
  color: #ffffff;
}

h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 13px;
  font-weight: 500px;
  color: #ffffff;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 11.7px;
  font-weight: 500px;
  color: #ffffff;
}

img {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.iconPlateform {
  padding-right: 10px;
  color: #797373;
}

.details {
  padding: 10px;
  margin: 10px 0px 10px 0px;
}

.gameName {
  padding-top: 10px;
}

.hidden {
  display: none;
}
.box {
  background-color: #202020;
  border-radius: 20px;
  width: 100%;
  height: max-content;
  margin-bottom: 30px;
}
.bigger {
  background-color: #202020;
  border-radius: 20px;
  width: 22vw;
  height: max-content;
  margin-bottom: 30px;
}
.roll {
  background-color: #202020;
  width: 22vw;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: -10px;
  height: max-content;
  padding: 0px 0px 30px 0px;
  transition: linear;
  margin-bottom: 10px;
  position: absolute;
  z-index: 50;
}

.releaseDate {
  color: #797373;
  padding: 25px 25px 15px 10px;
  border-bottom: #797373 solid 1px;
  display: flex;
  justify-content: space-between;
}

.genres {
  color: #797373;
  padding: 15px 15px 15px 10px;
  border-bottom: #202020 solid 1px;
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 10px 0px;
}

.RollValue {
  color: white;
  padding-right: 7px;
  text-align: right;
}

.rollButton {
  color: white;
  width: 100%;
  padding: 15px;
  background-color: #303030;
  border-bottom: #202020 solid 1px;
  border-radius: 10px;
}

.ShowMore {
  text-align: center;
}
.metaBox {
  display: flex;
  justify-content: space-between;
}

.meta {
  font-size: 14px;
  border: 1px solid;
  padding: 4px;
  font-weight: bolder;
}

.green {
  color: #62af43;
  border-color: #62af43;
}

.orange {
  color: #fdca52;
  border-color: #fdca52;
}
